html {
  font-size: $font-size;
  font-family: $font-family-body;
  line-height: $line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: $black;
  background: $color-secondary; /* Old browsers */
}
body {

background: $color-secondary; /* Old browsers */
background: -moz-linear-gradient(top,  $color-secondary-dark 0%, $color-secondary 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color-secondary-dark), color-stop(100%,$color-secondary)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  $color-secondary-dark 0%,$color-secondary 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  $color-secondary-dark 0%,$color-secondary 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  $color-secondary-dark 0%,$color-secondary 100%); /* IE10+ */
background: linear-gradient(to bottom,  $color-secondary-dark 0%,$color-secondary 100%); /* W3C */

}

@if $baseline-grid {
  section {
    background-image: -webkit-linear-gradient(lightblue .05em, transparent .05em);
    background-size: 100% $line-height;
  }
}

p { margin-bottom: $line-height; }

em,
cite,
i { font-style: italic; }

b,
strong { font-weight: 700; }

small { font-size: 0.8em; }

s { font-style: strike-through; }

u { text-decoration: underline; }

q {
  &:before { content: '\0022'; }
  &:after { content: '\0022'; }
}

dfn {}

abbr {
  cursor: help;
  border-bottom: 1px dotted;
}

time {}

pre,
code,
var,
samp,
kbd { font-family: $font-family-mono; }

sub {
  font-size: 0.8em;
  position: relative;
  bottom: - $line-height / 6;
}
sup {
  font-size: 0.8em;
  position: relative;
  top: - $line-height / 4;
}

mark {
  background-color: $color-info-light;
}
ins {
  background-color: $color-success-light;
  text-decoration: none;
}
del {
  background-color: $color-danger-light;
}

mark, ins, del {
  padding-left: 0.25em;
  padding-right: 0.25em;
}


hr {
  height: 0;
  border: none;
  background: none;
  margin-top: $line-height - $light-stroke / 2;
  margin-bottom: $line-height - $light-stroke / 2;
  border-top: $light-stroke solid $default-border-color;
}

.alignright {
  text-align: right;
}
