<ul class="side-nav">
	<li class="padd">{{input value=recipeFilter placeholder="filter by keyword"}}</li>
	{{#each filteredRecipes as |recipe|}}
		{{#unless recipe.deleted}}
	  <li>{{#link-to "book.recipe" recipe}}{{recipe.name}}{{/link-to}}</li>
		{{/unless}}
	{{/each}}
</ul>

<div class="large-8 columns">
	{{outlet}}
</div>
