<ul class="side-nav">
	<li>{{#link-to "book.index"}}"{{model.name}}" Settings{{/link-to}}</li>
	<li>{{#link-to "newrecipe"}}New Recipe{{/link-to}}</li>
	<li class="padd">{{input valueBinding="recipeFilter" placeholder="filter by keyword"}}</li>
	<li class="separator">Recipes</li>
	{{#each recipe in filteredRecipes}}
		{{#unless recipe.deleted}}
	  <li>{{#link-to "recipe" recipe}}{{recipe.name}}{{/link-to}}</li>
		{{/unless}}
	{{/each}}
</ul>

<div class="large-8 columns">
	{{outlet}}
</div>
