<div class="large-8 column recipe">
	<h3>New Recipe Book</h3>
	<label>name</label>
	{{input value=model.name}}
	<label>description</label>
	{{textarea value=model.description}}
	<button {{action "saveBook"}}>Save</button>
</div>