<div class="large-8 columns text-right collapse">
	{{#link-to 'book.recipe' this.model classBinding=":button :small :tab"}}back{{/link-to}}
	{{#link-to 'book.options' this.model classBinding=":button :small :tab"}}options{{/link-to}}
</div>
<div class="large-8 columns recipe tabbed collapse">
	<h3>{{model.name}}</h3>


</div>