<div class="large-8 columns text-right collapse">
	{{#link-to 'book.share' this.model classBinding=":button :small :tab"}}share{{/link-to}}
	{{#link-to 'book.recipe' this.model classBinding=":button :small :tab"}}back{{/link-to}}
</div>
<div class="large-8 columns recipe tabbed collapse">
	<h3>{{model.name}}</h3>

	<label>Include in books</label>
	{{#each userController.books as |book|}}
		{{checkbox-list model=book contextList=model.books}}
	{{/each}}

</div>